@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px "Roboto" sans-serif;
    color: #555;
}

nav {
    list-style: none;
    font: Bold 20px "Roboto";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.8;
}

.header a {
    color: #000;
}

@media (max-width: 800px) {
    header {
        display: flex;
        padding: 20px 50px;
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 15px;
    }
}

a:hover {
    opacity: 1;
    text-decoration: none
}

a.btn {
    color: #f5f5f5;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    opacity: 1;
    background-color: #0b199e;
}

a.btn:hover {
    color: #fff;
    background-color: #293ad1;
}

a.btn:active {
    border-color: #0b199e;
    color: #fff;
}

button.btn {
    background-color: #0b199e;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button.btn:hover {
    color: #fff;
    background-color: #293ad1;
}

button.btn:visited {
    border-color: #0b199e;
    color: #fff;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

section:not(.main):nth-child(even) {
    background-color: #f5f5f5;
}

section:not(.main):nth-child(odd) {
    background-color: #011B32;
}

.contact h3 {
    color: #fff;
}

.contact p {
    color: #fff;
}

@media (max-width: 800px) {
    section {
        padding: 50px 20px;
    }
}

.packages .grid li {
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

.packages .grid li i {
    color: #5658d8;
}

.packages .grid li h4 {
    font-size: 30px;
    margin: 25px 0px;
}

@media (max-width: 800px) {
    .packages .grid .li {
        flex-basis: 100%;
        padding: 20px;
    }
}

section h3 {
    text-transform: capitalize;
    font: bold 32px sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

.main {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #5658d8;
}

.main .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.main h1 {
    font: bold 40px "Roboto" sans-serif;
    margin-bottom: 15px;
    color: #000;
}

.main h3 {
    font: normal 20px "Roboto";
    margin-bottom: 40px;
    color: #000;
}

.main .btn {
    padding: 12px 30px;
}

@media all and (max-width: 640px) {
    .main {
        min-height: 600px
    }
    .main h1 {
        font-size: 48px;
    }
    .main h3 {
        font-size: 24px;
    }
    .main .btn {
        padding: 15px 48px
    }
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein ease-in forwards;
    opacity: 0;
    color: #5658d8;
    z-index: 1;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

header h2 {
    font-family: "Roboto"
}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0px 15px;
}

.main-content {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefadein 1s forwards;
}

@keyframes slidefadein {
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

.background-image {
    background: url(../images/backgroundImage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: pixelated;
}

@media (max-width: 800px) {
    .background-image {
        width: 100vh;
    }
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 350px;
    height: 3px;
    border-color: #5658d8;
    background-color: #5658d8;
    /* border: 0; */
    margin-bottom: 50px;
}

.spots .grid li {
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.spots .grid li.small {
    flex-basis: 30%;
}

.spots .grid li.large {
    flex-basis: 70%;
}

@media (max-width: 1100px) {
    .spots .grid li.small,
    .spots .grid li.small {
        flex-basis: 50%
    }
    .spots .grid li.small,
    .spots .grid li.small {
        flex-basis: 100%
    }
}

@media (max-width: 1100px) {
    .spots .grid li.small,
    .spots .grid li.large {
        flex-basis: 50%;
    }
}

@media (max-width: 800px) {
    .spots .grid li.small,
    .spots .grid li.large {
        flex-basis: 100%
    }
}

.testimonials .quote {
    line-height: 1.5;
    margin: 2px 0 5px;
    font-size: 20px;
    font-weight: 300px
}

@media (max-width: 800px) {
    .testimonials .quote {
        font-size: 18px;
        margin: 15px 0;
    }
    .testimonials .author {
        font-size: 14px
    }
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

@media (max-width: 1000px) {
    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}

@media (max-width: 1000px) {
    .response-url {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}

.contact form .btn {
    padding: 18px 42px;
}

.contact form input {
    border: none;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 15px;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
    flex: 1;
}

.response-url {
    border: solid 1px #fff;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;
    /* margin-right: 200px; */
    margin-top: 12px;
    font-size: 18px;
    color: #5658d8;
    flex: 1;
    width: 300px;
    justify-content: center
}

.error-response {
    border: solid 1px #d9534f;
    background-color: #d9534f;
    border-radius: 3px;
    text-align: center;
    padding: 15px;
    /* margin-right: 200px; */
    margin-top: 12px;
    font-size: 18px;
    color: #1a1a1c;
    flex: 1;
    width: 300px;
    justify-content: center
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #687d8b; */
    background-color: #011B32;
    color: #fff;
    padding: 20px 0;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 16px;
}

footer a {
    color: #fff;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
    margin: 0 30px;
}

@media (max-width: 1100px) {
    footer {
        flex-direction: column;
    }
    footer {
        text-align: center;
        margin-bottom: 20px;
    }
    footer ul li {
        margin: 0 8px;
    }
}